@model IEnumerable<Pi.Univesp.Models.Disciplina>

@{
    ViewData["Title"] = "Disciplinas";
}

<h1>Disciplinas</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DisciplinaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DisciplinaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.DisciplinaId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
