@model IEnumerable<Pi.Univesp.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RA)
            </td>
            <td>
                <a asp-action="Stats" asp-route-id="@item.AlunoId">Stats</a> |
                <a asp-action="Edit" asp-route-id="@item.AlunoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlunoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlunoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
